{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4>Excel to SRT Converter</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="mb-3">
                        <label class="form-label">Select Excel File:</label>
                        <input class="form-control" type="file" name="excel" accept=".xlsx,.xls" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Convert File</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
