{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h4>Profanity Checker</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {{ csrf_token() }}
                    <div class="mb-3">
                        <label class="form-label">Select File to Check:</label>
                        <input class="form-control" type="file" name="file" 
                               accept=".srt,.xlsx,.xls,.docx,.txt" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Check File</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
